@CHARSET "UTF-8";

.show-loader{
	 background: url("../img/ring.gif") no-repeat center center;
	 width:100%;
	 height:100%;
	 margin-top: 150px;
	 text-align: center;
}

.show-loader > label{
	 
	 width:100%;
	 height:100%;
	 margin-top: 150px;
	 text-align: center;
}