<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>View mail attachement in browser</description>
    <servlet-name>attachview</servlet-name>
    <servlet-class>com.zaidsoft.webmail.AttachmentProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attachview</servlet-name>
    <url-pattern>/attachview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>View mail attachement in browser</description>
    <servlet-name>WM_Authenticate_User</servlet-name>
    <servlet-class>com.zaidsoft.services.WM_Authenticate_User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WM_Authenticate_User</servlet-name>
    <url-pattern>/WM_Authenticate_User</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>View mail attachement in browser</description>
    <servlet-name>Loader_Provider</servlet-name>
    <servlet-class>com.zaidsoft.services.Loader_Provider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loader_Provider</servlet-name>
    <url-pattern>/Loader_Provider</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>